@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Quicksand:wght@300&display=swap');


:root{
    --ques_text: 'Poppins','Pattaya' ;
    --main-color:blanchedalmond;
    --theme-color:  #cecbcb;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Pattaya',arial,helvetica,courier, monospace,sans-serif ;
    /* background: blanchedalmond; */

}

body{
   
    /* text-align: center; */
    background: blanchedalmond;
    /* background-color: lightblue; */
    /* background-image: url('static/img/back.png'); */
}

p{
    font-family: var(--ques_text);
    font-size: 20px;
}

header{
    margin-bottom: 15px;
}

.loginParent{
    max-width: 100%;
    height: 700px; 
}

.loginChid{
    width: 70%;
    height: 60%;
}

.card{
    background:  var(--main-color);
}

.nav-tabs {
    --bs-nav-tabs-border-width: 3px;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
    /* border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color); */
    border-bottom: 0px;
}

nav{
    background: var(--theme-color);
}



/* 

footer {
    position: relative;
}

.nav-item>a:hover {
    color: green;
}

/*code to change background color

.navbar-nav>.active>a {
    background-color: #C0C0C0;
    color: green;
}
.main {
    margin-top: 25px;
    height: 1500px; 
} 
*/
/* 
svg_body{
    /*background-image: url(/home/b/Desktop/svg/back.png);
    text-align: left;
    top: 5vh;
    left: 5vh;
}
#male_head{
    animation: m_head 1s infinite linear;
    transform-origin: left;
    transform-box: fill-box;

}

@keyframes m_head {
    from{
        transform: rotateX(-10deg);
    }
    to{
        transform: rotateY(20deg);

    }
}
#male_hand {
    animation: m_hand 1s infinite linear;
    transform-origin: left;
    transform-box: fill-box;

}
@keyframes m_hand {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateY(45deg);

    }
}
#female_head {
    animation: f_head 1s infinite linear;
    transform-origin: left;
    transform-box: fill-box;

}

@keyframes f_head {
    from {
        transform: rotateX(-5deg);
    }

    to {
        transform: rotateY(10deg);

    }
}
#female_hand {
    animation: f_hand 1s infinite linear;
    transform-origin: left;
    transform-box: fill-box;

}

@keyframes f_hand {
    from {
        transform: rotateX(-5deg);
    }

    to {
        transform: rotateY(15deg);

    }
}
#students_giving_exam {
    animation: std_exam 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes std_exam {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(5deg);

    }
} */



































/* #main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(img/pexels-pixabay-207691.jpg);
    background-size: cover;
    /* background: ;
}
.navbar2{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.logo{
    flex-basis: 30%;
}
.logo img {
    width: 160px;
    cursor: pointer;
}
.circle-box{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
svg#svgCircle{
    stroke-dasharray: 1256;
    stroke-dashoffset: 418;
    transition: 1s;
}
span{
    position:absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}
div#step1{
    right: 655px;
    bottom: 430px;
}
div#step2{
    left: 56px;
    bottom: 106px;
}
div#step3{
    left: 800px;
    top: 368px;
} */
