{% extends 'layout.html' %}

{% block body %}
<section class="container">

       <nav class="container">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Info</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Teacher</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Student</a>
              </div>
            </nav>
            <div class=" container tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<article>
       <h3> This application, actually reduce the pain of the teacher and students.</h3>
</article>








              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

<article> 
       <h4> Tutorial how to use the teacher section </h4>
</article>




              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">




                     <article> 
                            <h4> Tutorial how to use the student section </h4>
                     </article>






              </div>
            </div>
</section>

{% endblock body %}
       