{% extends 'layout.html' %}

{% block body %}
<section class="">

<section class="container">
       <section class="row py-3">
              <nav class="">
                     <div class="nav nav-tabs" id="nav-tab" role="tablist">
       
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                                   aria-controls="nav-home" aria-selected="true">Info</a>
       
       
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                   aria-controls="nav-profile" aria-selected="false">Teacher</a>
       
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                                   aria-controls="nav-contact" aria-selected="false">Student</a>
       
                     </div>
              </nav>
       </section>
</section>


       <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                     <article class="container">
                            <img src="static/img/Introduction-of-Online-Examination-System.jpg" alt="" class="img-fluid">
                            <section class="">
                                   <h3> This application, actually reduce the pain of the teacher and students. </h3>

                                   <body class="justify-content">
                                          <br />
                                          <h4>Using an Online Examination System has many benefits.</h4>

                                                 <p class="custom-control-label text-info ">Security of Examination Paper</p>
                                                 <article>
                                                        An <b> online exam </b> provides flexibility and security to the
                                                        examination process. Once all the questions are uploaded in the system,
                                                        the system can shuffle and give questions in different orders to different
                                                        students. This minimizes the chance of cheating.
                                                 </article><br />
                                                 <p class="custom-control-label text-info">Quick Result Processing</p>
                                                 <article>
                                                        In an <b> online exam </b>, the results are calculated instantly and
                                                        accurately.

                                                        In a <b> paper-based examination </b>, there are a lot of steps involved,
                                                        resulting in the paper evaluation process to take up a lot of
                                                        time and making it prone to human errors.
                                                 </article><br />

                                                 <p class="custom-control-label text-info">Get rid of Examination Centers</p>
                                                 <article>
                                                        When an exam is conducted remotely, hundreds of thousands of students can
                                                        appear for the exam, without the need to spend on travel
                                                        and accommodation.
                                                 </article><br />
                                                 <p class="custom-control-label text-info">Reduced Logistical Costs</p>
                                                 <article>
                                                        In an online exam, the logistics cost is minimum. Examination Process is
                                                        managed using technology. It is beneficial when you are
                                                        looking to conduct the exam for multiple candidates at different
                                                        locations.

                                                        The result processing is also done online and hence the logistics cost is
                                                        limited.
                                                 </article><br />
                                                 <p class="custom-control-label text-info">Compatible for Subjective Exams</p>
                                                 <article>There are online subjective exams available where a candidate needs to
                                                        write answers in simple English language with special
                                                        symbols/ diagrams etc.

                                                        Online Subjective exams can be managed with facilities like speech to
                                                        text, uploading images of diagrams drawn by the students for
                                                        answer related to exam questions.

                                                        Examiner can evaluate subjective answers easily using individual login.
                                                 </article><br />
                                                 <p class="custom-control-label text-info">Reduced Examination Cost</p>
                                                 <article>Due to the flexibility of online examination systems, the cost of the
                                                        exam per candidate is around Rs. 10 to Rs. 50. Meanwhile,
                                                        for paper-based exams, the cost per candidate is Rs. 300 to Rs. 400.

                                                        Thus the online examination system becomes a more affordable, feasible
                                                        choice to conduct exams.</article><br />
                                                 <p class="custom-control-label text-info">Remote Supervision</p>
                                                 <article><b> Online Exam </b>can be managed in auto surveillance mode where a web
                                                        camera connected to the system would take snapshots of the
                                                        student for the exam and can act as an invigilator/supervisor; which is
                                                        again cost and time efficient.



                                                        This would ensure that the same student is appearing for the exam and
                                                        system is able to keep track of the student during the exam.

                                                        While in a paper-based exam there is a need to hire an invigilator for a
                                                        designated set number of students.</article><br />
                                                 <p class="custom-control-label text-info">Question Paper Generation</p>
                                                 <article>Designing a question paper for a digital exam is relatively easy and it
                                                        also reduces the chances of paper leakage.

                                                        While designing a question paper for a paper-based exam is a daunting
                                                        task. There are an endless number of logistical activities
                                                        right from manual question selection, design of the paper, the printing of
                                                        the paper, distributing of the question paper to
                                                        various exam centers in a secure manner.</article><br />
                                                 <p class="custom-control-label text-info">The Flexibility of Exam Management
                                                 </p>
                                                 <article>An <b> online exam </b> gives you the flexibility to design exam papers,
                                                        evaluate and grade them, there can be the same or different
                                                        questions for students also.

                                                        However, in a traditional exam, there is little to no flexibility, last
                                                        minute changes or corrections are also not possible.</article><br />
                                                 <p class="custom-control-label text-info">Result Analysis and Ranking</p>
                                                 <article>In an <b> online exam </b>, result analysis is easy and instant. The
                                                        online exam can provide detailed analysis, ranking, rations subject or
                                                        topic wise analysis.

                                                        It is helpful for further decision making or shortlisting process.

                                                        In a traditional exam result processing is a manual and huge
                                                        administrative task.

                                                        Many examiners are involved in the compilation of the final result. Such a
                                                        result is also error-prone.</article><br />

                                   </body>
                            </section>

                     </article>



              </div>
              <div class="tab-pane fade img-fluid" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

<article class="container">

       <section class="row py-1">
              <img src="static/img/teacher_back.jpg" alt="" class=" " 
              style=" width : 100%; max-height: 23rem;">
              <h5> Tutorial how to use the teacher section </h5>
       </section>

       <section class="text-center pb-5 m-2">

              

              <h3 class="form-control-label text-info"><br>Step #1 </h3>
              
              You have to login first.... <br>

              <img src="static/img/login.png" alt="" class="img-fluid" style="max-width:55rem;">


              <h3 class="form-control-label text-info"><br>Step #2 </h3>
              After login..... Evaluate a demo machine generate Question.
              <img src="static/img/teacher_home.png" alt="" class="img-fluid pb-3" 
              style="width:55rem;">
              <br />
              This is the Homepage.

              <br>
              As you can see, In teacher Homepage a Demo Question arrived....
              So, Teacher will Evalute this question as The Difficulty of this question paper.

              <br>
              In right, There is a Announcement Box.(teacher will pass what He or She want to say)
              <br>
              <h3 class="custom-control-label text-info"><br>Step #3 </h3>
              <p class="">
                     Course_creation
              </p>

              <img src="static/img/Course_creation.png" alt="" class="img-fluid pb-2" style="width:55rem;">
              <br>
              "Course Learning Outcome"(CLO) based online learning system intrigrated"
              <br />
              Course Learning Outcomes are statements clearly describing the meaningful, observable and
              measurable knowledge, skills and/or
              dispositions students will learn in this course.
              A learning outcome is a clear statement of what a learner is expected to be able to do, know
              about and/or value at the completion
              of a unit of study, and how well they should be expected to achieve those outcomes. It states
              both the substance of learning and
              how its attainment is to be demonstrated.
              Learning outcomes are the cornerstones of course design and assessment, and help students focus
              on what is important. Learning
              outcomes can also be considered an inclusive teaching practice as they can help clarify
              expectations for all students.<br>
              <h3 class="custom-control-label text-info"><br>Step #4 </h3>
              Show total Courses which a teacher created for this semister.....

              <img src="static/img/views_created_courses.png" alt="" class="img-fluid pb-2"
                     style="width:55rem;">

              <br> Select Course for further activity
              <br>
              <h3 class="custom-control-label text-info"><br>Step #5 </h3>
              Teacher can Upload Question ,Generate Question for Course Registered students. And Select
              Student for enrollment

              <img src="static/img/question_view.png" alt="" class="img-fluid pb-2" 
              style="width:55rem;">
              <br>
              Click the upload, generate, Students Button for activity.
              <br>
              <h3 class="custom-control-label text-info"><br>Step #6 </h3>


              <img src="static/img/upload _mcq.png" alt="" class="img-fluid pb-2" 
              style="width:55rem;">

              <br>
              <h3 class="custom-control-label text-info"><br>Step #7 </h3>
              
              Generate Question
              <br>


              <img src="static/img/generate.png" alt="" class="img-fluid pb-2" 
              style="width:55rem;">
              <br>
              <h3 class="custom-control-label text-info"><br>Step #8 </h3>
              Enroll Students
              <br>

              <img src="static/img/students.png" alt="" class="img-fluid pb-2" style="max-width:55rem;">
              <br>Give a Unique key For enroll and, it will take some time for sending email to the
              students!!!!

              <br>


       </section>


</article>




</div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">




                     <article class="container">
                            <h4> Tutorial how to use the student section </h4>

                            <img src="static/img/student_flag.jpg" alt="" class="img-fluid" style="max-width : 52rem;left:6vh">



                            <section>
                                   <h3 class="custom-control-label text-info"><br>Step #1 </p>
                                   You have to login first.... <br>
                                   <img src="static/img/login.png" alt="" class="img-fluid" style="max-width:55rem;">

                                   <h3 class="custom-control-label text-info"><br>Step #2 </p>
                                   After login..... Current activity of students and through the world.
                                   <img src="static/img/student _home.png" alt="" class="img-fluid" style="max-width:55rem;">

                                   <h3 class="custom-control-label text-info"><br>Step #3 </p>
                                   Current Exam Schedules of this semister
                                   <img src="static/img/exams.png" alt="" class="img-fluid" style="max-width:55rem;">

                                   <br>
                                   <h3 class="custom-control-label text-info"><br>Step #4 </p>
                                   Current Active enrolled courses of this semister
                                   <img src="static/img/enroll.png" alt="" class="img-fluid" style="max-width:55rem;">


                                   <br>
                                   <h3 class="custom-control-label text-info"><br>Step #5 </p>
                                   "ModelQuestion_AI" will generate a question for Student choosen nobes.........
                                   <img src="static/img/Model_test.png" alt="" class="img-fluid" style="max-width:55rem;">
                                   Model_test

                                   <br>

                            </section>
                     </article>






              </div>
       </div>
</section>

{% endblock body %}