{% extends "layout.html" %}
{% block body %}


<section class= 'container'>
    <legend class="p-5">
        Active students of Your all recent courses:
    </legend>
    <br/>

        {% for (name, email) in iter.zip_longest(students_name , user_emails_total) %}
        <div class="card-light">
            <div class="row justify-content-start">
                <div class="col-2">

                </div>
                <div class="col-5 h5">
                    {{name}}
                </div>
                <div class="col-5 h5">
                    {{email}}
                </div>

            </div>

        </div>
        <br>
        {% endfor %}

    </section>

    {% endblock %}
