{% extends "layout.html" %} 
{% block body %}
<h1>Under construction</h1>

<section class= 'container'>
    <div class='justify-content-start'>



{% for i in total %}
<div class="row">

{% for j in user_student.objects(email=i).first() %}

<div class="col">
    {{j.user_name}}
</div>
<div class="col">
    {{j.email}}
</div>
    
{% endfor %}
    





  
    </div>
{% endfor %}
    
    </div>
</section>

{% endblock %}



<!-- for i in total:
        for user_s in user_student.objects(email=i):
            students_name.append(user_s) -->