{% extends "layout.html" %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- ekhane table er css kora -->
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

        <form class="container" action="{{ url_for('users.student_list',course_code=course_code ) }}" method="POST"
            enctype="multipart/form-data">

            {{ form.hidden_tag()}}
            <legend id="course_coode" value="{{corse_code}}">{{corse_code}}</legend>
            <p id="enroll_key" value="{{enroll}}">{{enroll}}</p>


            <div class="form-inline form-inline-lg my-2 my-lg-0" method="POST"
                action="{{ url_for('users.student_list',course_code=course_code ) }}">

                <!-- <div class="input-group mb-3">
                    {{ form.organization_id(class="form-control form-control-lg ",placeholder=" students ID....")}}
                    <div class="input-group-append">
                        {{ form.submit(class="btn btn-outline-success" )}}

                    </div>
                </div> -->


            </div>
            {{form.enroll_key(class="form-control form-control-lg", placeholder="Enter the Enroll key")}}
            <br/>

            <!--search kora student-->
            {% if result_students %}
            <br />
            <table id="tblStudents">
                <tr>
                    <td class='col-md-1'>

                        <input id="chk{{ result_students.user_name }}" type="checkbox" name="students_list_checkbox"
                            value="{{ result_students.email }}" />
                        <label for="chk{{ result_students.user_name }}">{{ result_students.user_name }}</label>
                    </td>

                    <td class='col-4'>{{ result_students.organization_id }}</td>
                    <td class='col-4'>{{ result_students.email }}</td>
                </tr>
            </table>
            {% endif %}

            <!--Database load kora student-->
            {% if students %}
            
                <table id="tblStudents">
                    {% for i in students %}
                    <tr class="row justify-content-start">
                        <td class='col-lg-4'>
                            <input id="chk{{ i.user_name }}" aria-label="Checkbox for following text input" type="checkbox"
                                value="{{ i.email }}" name="students_list_checkbox" />
                            <label for="chk{{ i.user_name }}">{{ i.user_name }}</label>
                        </td>
                        <td class='col-lg-3'>{{ i.organization_id }}</td>
                        <td class='col-lg-5'>{{ i.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
        
            {% endif %}




            <footer>
                <br />
                <div class="row justify-content-center">
                    <input class=' col-4 btn btn-outline-primary' type="submit" value="Add to this Course" />
                </div>
                <!--<input id="arraySelected" type="hidden" name="selected_students" value="" hidden></p>-->
            </footer>

        </form>



{% endblock body %}