{% extends "layout.html" %} {% block body %}
    <div class="container">
        <form class="container-fluid form-horizontal" method="POST" action=" " enctype="multipart/form-data">
            <div class="form-group">


                <div class="row">
                    1
                    <div class="col">
                        {{ form.exam_title.label(class = "custom-control-label") }}<br/>
                      <br/>
                        {{ form.exam_title(class="form-check form-check-inline ",type="radio") }}
                    </div>
                    2
                    <div class="col">
                        <div class="form-group">
                            <legend class="custom-control-label">Questions for Particular Course</legend>
                            <select
                                    class="custom-select custom-select-md mb-3 btn-outline-info"
                                    aria-label=".custom-select-lg example"
                                    name="course"
                                    required
                            >
                                <option selected disabled="disabled">Select Course</option>
                                <option value="Data_Algorithom">Data Algorithm</option>
                                <option value="Data_communication">Data communication</option>
                                <option value="Database_Management_System">Database Management</option>
                            </select>
                        </div>
                        <br/>

                    </div>

                    <div class="w-100"></div>


                    1
                    <div class="col">

                        <div class="form-group"></br>
                            {{ form.exam_topic.label(class="custom-control-label") }}
                            {{ form.exam_topic(class="custom-control") }}
                        </div>

                    </div>
                    2
                    <div class="col">
                        <br/>

                        <div class="form-group">
                            {{ form.exam_CLO.label(class="custom-control-label") }}
                            {{ form.exam_CLO(class="custom-radio") }}
                        </div>

                    </div>

                </div>

                <div class="row">
                    1
                    <div class="col">

                        <legend class="custom-control-label">Question Complexity Level</legend>
                        <div class="input-group">
                            <select
                                    class="custom-select btn-outline-info"
                                    id="inputGroupSelect04"
                                    name="complex_level"
                                    aria-label="Example select with button addon"
                                    required
                            >
                                <option selected disabled="disabled">Select Complex level...</option>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                                <option value="5">Very High</option>
                                <option value="10">Insane</option>
                            </select>
                        </div>
                        <br/>
                        <br/>

                    </div>

                    <div class="col">
                        <div class="input-group"></br></br>
                            {{ form.exam_marks.label(class="custom-control-label") }}
                            {{ form.exam_marks(class="custom-radio") }}
                        </div>


                    </div>

                    <div class="w-100"></div>

                    1
                    <div class="col">
                        <div class="btn btn-block btn-outline-light">
                            <div class=" row">
                                {{ form.exam_start_time.label(for="start_time",class = "col-2 input-group-append") }}
                                <!-- for= appt is a class -->
                                {# {{ form.exam_start_time(for="appt",type="time",class="form-control-lg",id="start_time") }} #}
                                <input type="time" class="col-2 input-group" id="start_time" name="start_time"/>

                                {{ form.exam_end_time.label(for="end_time",class = "col-2 input-group-append") }}
                                <input type="time" class="col-2 input-group" id="end_time" name="end_time"/>

                                {{ form.exam_date.label(class ="col-2 input-group-append") }}
                                {{ form.exam_date(type="date",class="col-2 input-group ",placeholder=" like: year/month/date") }}
                            </div>
                        </div>

                    </div>
                </div>
                2
           </div>

            <div class="form-group"></br>
                <label class="custom-control-label" for="Textarea"><b>Example Question paper Caption
                    textarea</b></label>
                <textarea name="Note:captions" class="form-control" id="Textarea" rows="3"></textarea>
            </div>

            <div class="form-group"></br>
                {{ form.exam_code.label(class="custom-control-label") }} {{ form.exam_code(class="custom-radio") }}
            </div>

            <div class="row justify-content-end"><br/>
                {{ form.submit(class="col-2 btn-outline-success") }}
            </div>
            </br>
    </div>
    </form>
    </div>
{% endblock body %}
