{% extends "layout.html" %} {% block body %}

    <div class="container-fluid "
         style="font-family: 'Consoles', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', monospace ;background-color: #ccfff5"
         ;>
        <form class="form-horizontal" method="POST" action=" " enctype="multipart/form-data">

            <div class="row align-items-start">

                <div class="col-8">
                    {{ form.exam_title.label(class = "custom-control-label") }}<br/>
                    {{ form.exam_title(class="form-check form-check-inline ",type="radio") }}</div>
                <div class="col-4">
                    {{ form.exam_code.label(class="custom-control-label") }}
                    {{ form.exam_code(class="custom-radio") }}</div>

            </div>
            <div class="row align-items-center">

                <legend> Create a Exam Slot for the Students</legend>
                <br/>
                <div class="col-sm-1">
                    {{ form.exam_start_time.label(for="start_time",class = "input-group-append") }}</div>
                <div class="col-3-sm">
                    <!-- for= appt is a class -->
                    {# {{ form.exam_start_time(for="appt",type="time",class="form-control-lg",id="start_time") }} #}
                    <input type="time" class="input-group" id="start_time" name="start_time"/></div>
                <div class="col-sm-1">
                    {{ form.exam_end_time.label(for="end_time",class = " input-group-append") }}</div>
                <div class="col-3-sm">
                    <input type="time" class="input-group" id="end_time" name="end_time"/></div>
                <div class="col-sm-1">
                    {{ form.exam_date.label(class ="input-group-append") }}</div>
                <div class="col-3-sm">
                    {{ form.exam_date(type="date",class="input-group ",placeholder=" like: year/month/date") }}
                </div>

            </div>
            <div class="row justify-content-end">
                <div class="col-7 ">
                    <label for="Textarea" class="custom-control-label">Example Question paper Caption textarea</label>
                    <textarea name="Note:captions" class="form-control" id="Textarea" rows="2"></textarea>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-9">
                    {{ form.exam_CLO.label(class="custom-control-label") }}
                    {{ form.exam_CLO(class="custom-radio") }}     </div>
                <div class="col-4">
                    {{ form.exam_marks.label(class="custom-control-label") }}
                    {{ form.exam_marks(class="custom-radio") }} </div>
                <div class="col-6">
                    <br/>
                    <label class="custom-control-label">Question Complexity Level</label>
                    <select
                            class="custom-select-sm btn-outline-info"
                            id="inputGroupSelect04"
                            name="complex_level"
                            aria-label="Example select with button addon"
                            required
                    >
                        <option selected disabled="disabled">Select Complex level...</option>
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                        <option value="5">Very High</option>
                        <option value="10">Insane</option>
                    </select>
                </div>
                <div class="col-4">
                    {{ form.exam_total_questions.label(class="custom-control-label") }}
                    {{ form.exam_total_questions(class="custom-radio") }}
                </div>
                <div class="col-4">
                    {{ form.exam_topic.label(class="custom-control-label") }}
                    {{ form.exam_topic(class="custom-control") }}
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
