{% extends 'layout.html' %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <script>
       var parsed = JSON.parse('{#{question_mcq_for_current_session | tojson}#}');
       console.log(parsed);
</script> -->

{#{question_mcq_for_current_session}#}

<!-- <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data"> -->

<p id="count"> </p>
<div id="add_data" class="card bg-light">
       <br>
       <div id='question_card' class="card-block">
              {% for i in question_mcq_for_current_session %}
              {#{i}#}

              {% for j in i %}
              <div class="card-header h5">
                     <div class="card-title text-primary">
                            <b>{{j}}</b>
                     </div>
              </div>
              <div class="card-body">
                     {% for k in i[j] %}

                     <div class="card-text text-secondary">
                            <input id="chk {{k}}" aria - label="Checkbox for following text input" type="radio" value=" {{k}}"
                                   name="selected_option" />

                            <label for="chk {{k}}">option {{k}} : {{k}}</label>
                     </div>


                     {% endfor %}

              </div>
              {% endfor %}
       
       {% endfor %}
       </div>

</div>


</div>


</div>
<br>
<button class='btn btn-secondary' id="btn_next_question"> Next</button>
<button class='btn btn-secondary' id="btn_submit" name="answer_submit" type="submit"> Submit Answer Paper</button>







{% endblock body %}



























<!-- <script>

       $(document).ready(function () {
              load();
       });

       function load() {
              $('#add_data').focus();
              $('#btn_next_question').focus();
              $('#question_card').focus();
              var next_count = 1;
              var parse = 0;


              var questions = JSON.parse('{{question_mcq_for_current_session | tojson}}');
              console.log(questions);
              var viewQuestion = '';
              var question_block = $('#add_data');
              //var selected_option = $('#')

       $('#btn_next_question').click(function () {
              $('#question_card').empty();
              $('#add_data').empty();



   fetch(`/answer_session_load?c=${next_count}`).then(function (response) { response.json().then(function (recived_next_count) {
              $('#count').html(recived_next_count);
              console.log(typeof(recived_next_count));

       

              });
  });
});
}  

</script> -->






<!--<script language="JavaScript" type="text/javascript" src="{#{ url_for('static',filename='answer_session.js') }#}">
 </script>-->