{% extends "layout.html" %} {% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static',filename='mcq_upload.js') }}">
</script>

<div class="container">
    <form class="form-horizontal form-group" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <h1>Upload MCQ Questions </h1>
            <br/>

        <!--div class="d-flex justify-content-start">
            <div class="d-flex flex-wrap ">
                    <legend class=" custom-control-label">Questions for Particular Course</legend>
                <div class="input-group mb-3">
                    <input id="course_title" list="course_name" class="custom-select custom-select-md mb-3 btn-outline-info "
                        aria-label=".custom-select-lg example" name="course_title" required>
                    <datalist id="course_name">
                        {%for course_titles in course_title %}
                        <option value="{{course_titles}}">{{course_titles}}</option>
                        {% endfor %}
                    </datalist>
                    <div class="input-group-append mb-3">
                        <button  id="btn_course_title" class="btn btn-outline-secondary" type="button">Load</button>
                    </div>
                </div>
            </div>
        </div-->

        <div class="d-flex justify-content-start">
            <div class="d-flex flex-wrap ">
                    <legend class=" custom-control-label">Questions for Particular Course</legend>
                <div class="input-group mb-3">
                    <input id="course_code" list="course_name" class="custom-select custom-select-md mb-3 btn-outline-info "
                        aria-label=".custom-select-lg example" name="course_title" required>
                    <datalist id="course_name">
                        {%for course_codes in course_code %}
                        <option value="{{course_codes}}">{{course_codes}}</option>
                        {% endfor %}
                    </datalist>
                    <div class="input-group-append mb-3">
                        <button  id="btn_course_code" class="btn btn-outline-secondary" type="button">Load</button>
                    </div>
                </div>
            </div>
        </div>

            <!--div class="d-flex justify-content-end">
                {{ form.course_code.label(class="custom-control-label") }}
                <br />
                {{ form.course_code(class="form-radio") }}
            </div-->

            <div class="d-flex justify-content-end">
                {{ form.lesson.label(class="custom-control-label") }}
                <br />
                {{ form.lesson(class="form-radio",id="lesson") }}
            </div>


            <div class="d-flex justify-content-start">
                <div class="d-flex flex-wrap ">
                    <legend class="custom-control-label">Question Complexity Level</legend>
                    <select class="custom-select btn-outline-info" id="inputGroupSelect04" name="complex_level"
                        aria-label="Example select with button addon" required>
                        <option selected disabled="disabled">Select Complex level...</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                        <option value="5">Very Hard</option>
                        <option value="10">Insane</option>
                    </select>
                </div>
            </div>

            <div class="justify-content-lg-end">
                {{ form.clo.label(class="custom-control-label") }}
                {{ form.clo(class="form-select") }}

            </div>

            <div class="d-flex justify-content-around">
                <div class="col-4-sm">
                    <legend class="custom-control-label">Total how many Questions</legend>
                    <input id="total" type="number" min="0" class="custom-select-sm" name="total_questions" required>
                </div>
                <div class="col-4-sm">
                    <legend class="custom-control-label">Options for each question</legend>
                    <input id="options" list="option_total" name="options" class="custom-select-sm" required>
                    <datalist id="option_total" required>
                        <option value="2">Two</option>
                        <option selected value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                    </datalist>
                </div>
            </div>
            

            <div id="addQuestion" class="form-group" name="addQuestion">
                <label for="question1">
                    <h4>Question 1 :</h4>
                </label>
                <input class="col" type="text" id="question1" name="question1" placeholder="Enter Question-1 "> 
                <br/>
          
                <div class="form-group">
                    <label for="options">Option-1:</label> 
                    <input class="form-control-sm" id="options" name="op[1]" placeholder="Enter Option-1">
                    <label for="options">Option-2:</label> 
                    <input class="form-control-sm" id="options" name="op[2]" placeholder="Enter Option-2">
                    <label for="options">Option-3:</label> 
                    <input class="form-control-sm" id="options" name="op[3]" placeholder="Enter Option-3">
                    <label for="options">Option-4:</label> 
                    <input class="form-control-sm" id="options" name="op[4]" placeholder="Enter Option-4">
                    <label for="options">Option-5:</label> 
                    <input class="form-control-sm" id="options" name="op[5]" placeholder="Enter Option-5">
                    <label for="options">Option-6:</label> 
                    <input class="form-control-sm" id="options" name="op[6]" placeholder="Enter Option-6">
                    

                    <br/>
                </div>





                <label class="form-control-label" for="question-${i + 1}"><br/>
                    <h4>Question ${i + 1}:</h4>
                    </label>
                </div>
                <div>
                <input class="form-control" id="question-'+ i +'" name="question${i}" type="text"
                    placeholder="EnterQuestion-${i + 1}" /><br/>
                </div>`;


                <label>Option-${j+1}:</label><br>
    <div class="input-group-append mb-3">
                <input type="text" name="op[${j+count}]" placeholder="Enter Option-${j+1}">

  </div>






                <div class="row">
                    <br/><h7 style="color: brown;">Dont use fullstop in the question </h7> </div>
                
                <div class="d-flex justify-content-center">
                    <button id="total_questions_btn" class="btn btn-outline-primary" type="button">Add another Question</button>
                </div>




            <div id="addQuestion" class="form-group" name="addQuestion">
            </div>
            </fieldset>
            <br /><button id="total_btn" class="btn btn-block btn-outline-primary" type="submit">submit</button>
        </div>
    </form>


</div>

<!--script type="text/javascript" src="{{ url_for('static',filename='mcq_upload_part2.js') }}">
    </script-->

{% endblock body %}


<!--datalist id="questions_total"> list="questions_total"
                   <option selected disabled="disabled">Choose...</option>
                   <option value="2">Test</option>
                   <option value="1">One</option>
                   <option value="2">Two</option>
                   <option value="4">Three</option>
                   <option value="5">Five</option>
                   <option value="6">Fifteen</option>
                   option value="15">Twenty</option>
                   <option value="20">Twenty-Five</option>
               </datalist-->


            <!--legend class="custom-control-label">For CLO</legend>
                        <select class="custom-select custom-select-md mb-3 btn-outline-info" aria-label=".custom-select-lg example" name="CO" required>
                            <option selected disabled="disabled">Define Lesson Outcome(Evaluate)</option>
                            <option value="knowledge">knowledge level</option>
                            <option value="Comprehension">Comprehension level ( Logical level)</option>
                            <option value="Application">Application Level (Real-life situation level or practice level)</option>
                            <option value="Analysis">Analysis level ( Inquiry level)</option>
                            <option value="Synthesis">Synthesis level ( creative level)</option>
                            <option value="Evaluation">Evaluation level ( Judgement level)</option>
                </select -->
    
         <!--div class="d-flex justify-content-start">
                    <div class="d-flex flex-wrap ">
                    {{ form.course_title.label(class="custom-control-label") }}
                    <br/>
                    {{ form.course_title(class="custom-select custom-select-md mb-3 btn-outline-info",id="course_title") }}
                    </div>
                </div-->
