{% extends "layout.html" %}
{% block body %}
<div class="container">
   
    {%for c in course_code_list %}
    {%for i in set_exam_question_slot.objects(exam_course_code=c) %}
    <div class="card mb-3 animated fadeInRight shadow-sm">

        <!-- <body class="content"> -->
        <div class="card-body align-content-lg-center" style="background-color:#E8E8E8;">
            <!-- <content class=" btn text-white btn-group-horizental-lg btn-block"> -->
            <button class="btn btn-group-horizental-lg btn-lg btn-block"
                onclick="window.location.href='{{ url_for('Test_paper.secret_code') }}';" style="background-color:#b1dfbb;">

                <!-- problem ase -->
                <div id="exam_title" class="h1 card-header" style=" text-transform: uppercase;"> {{i.exam_title}}</div>
                <div class="card-body card-text text-center">
                    <p id="exam_course" class="h4"> Subject/course : {{i.exam_course}}</p>
                    <p id="exam_date" class="h5"> Date : {{i.exam_date}}</p>
                    <p id="exam_start_time" class="h5"> Start time: {{i.exam_start_time}}</p>
                    <p id="exam_end_time" class="h5"> End time: {{i.exam_end_time}}</p>

                </div>

                Attend The exam


            </button>

            <!-- </content> -->
        </div>
        <!-- </body> -->
    </div>



    {%endfor%}
    {%endfor%}
    

</div>


{% endblock body %}

<!--{#{course_code_list}#} -->

<!-- <div id="scroller" class="mb-3">
        <template id="post_template"> -->

<!-- </template>
    </div> -->

<!-- <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-border" role="status"></div>
    </div> -->


    <!-- <script type="text/javascript" src="{{ url_for('static', filename="pageScrolling.js") }}"
                crossorigin="anonymous"></script> -->