{%extends "layout.html"%}
{%block body%} This is examiner page


<section class="shadow-sm btn-group-horizental">
  <div class="container">
    <article>
      <br />
      <h3>  Setup a Written Question </h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.wrqu')}}">Written Question Paper </a> 
      <br/>
      <h3> Setup a Mcq Question</h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.mcqqu_sub')}}">MCQ Question Paper (Your defined)</a>
      <br/>
      <h3> Upload Mcq Questions in Question bank </h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.mcq_upload',course_code=user_type)}}">MCQ Question Upload </a>
      <br/>
      <h3>  Request a Mcq Question Paper</h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.generateMCQ',course_code=user_type)}}">Request a MCQ (Machine Generate)</a>
      <p> ........</p>
    </article>
  </div>

</section>

<content>
  <legend> Notice Board </legend>
</content>



{%endblock body%}