{%extends "layout.html"%}
{%block body%}


<section class="shadow-sm btn-group-horizental">
  <div class="container">
    <article>
      <br />
      <h3>  Setup a Written Question </h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.wrqu')}}">Written Question Paper </a> 
      <br/>
      <h3> Setup a Mcq Question</h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.mcqqu_sub')}}">MCQ Question Paper (Your defined)</a>
      <br/>
      <h3> Upload Mcq Questions in Question bank </h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.mcq_upload',course_code=user_type)}}">MCQ Question Upload </a>
      <br/>
      <h3>  Request a Mcq Question Paper</h3>
      <a type="button" class=" btn btn-outline-secondary btn-lg btn-block " href="{{url_for('Test_paper.generateMCQ',course_code=user_type)}}">Request a MCQ (Machine Generate)</a>
      <p> ........</p>
    </article>
  </div>

</section>

<section class="container">
  <legend> <b> Notice Board </b></legend>
  <br/>
  {% for notice in notices %}

  <div class="card text-white bg-secondary mb-3 ">
    <div class="card-header">
      <div class="row">
        <div class="col-8" style="background-color: rgb(101, 100, 100);">
          <p>{{notice.notice_title}}</p>
        </div>
        <div class="col-4">
          <p>{{notice.notice_time}}</p>
        </div>

      </div>
    </div>
    <br>
    <div class="body container">
      <p>{{notice.notice_announcement}}</p>
    </div>
  </div>
  {%endfor%}
</section>



{%endblock body%}