{% extends 'layout.html' %}

{% block body %}

<div id="main">

    <div class="circle-box">
        <svg height="402" width="402">
            <circle r="201" cx="201" cy="201" stroke-width="1px" stroke="gray" fill="none"></circle>
        </svg>
        <svg height="402" width="402">
            <circle r="201" cx="201" cy="201" stroke-width="1px" stroke="white" fill="none"
                id="svgCircle"></circle>
        </svg>
    </div>
    <div>
        <div class="span" id="step1"></div>
        <div class="span" id="step2"></div>
        <div class="span" id="step3"></div>
    </div>
</div>

<script>
    var main=document.getElementById("main");
    var svgCircle=document.getElementById("svgCircle");
    var step1=document.getElementById("step1");
    var step2=document.getElementById("step2");
    var step3=document.getElementById("step3");

    main.style.backgroundImage="url(img/pexels-pixabay-207691.jpg)"
    
    step1.addEventListener('click',()=>{
        step1.style.strokeDashoffset="1004"
        main.style.backgroundImage="url(img/pexels-pixabay-301920.jpg)"
    })
    step2.addEventListener('click',()=>{
        step2.style.strokeDashoffset="753"
        main.style.backgroundImage="url(img/pexels-pixabay-301926.jpg)"
    })
    step3.addEventListener('click',()=>{
        step3.style.strokeDashoffset="502"
        main.style.backgroundImage="url(img/pexels-yaroslav-shuraev-6281049.jpg)"
    })
    </script>
{% endblock body %}


<!-- 
<section class="container">

    <div class="row justify-content-center">

        <div class="col-4"> <h3><br><b>Teachers </b></h3></div>
           

       


        <h4>Create a course, supervise, Take Exams, and Evaluate Them.<br/><br/><br/></h4>



        <div class="col-8"><h3><b>And for the Students </b></h3></div>
        


        <h4>you guys can easily register a course of your favourite teacher and <br>
            learn from them in the best possible way <br>
        Also, you can evalute yourself by giving exam</h4>


    </div>

</section> -->