{% extends 'layout.html' %}

{% block body %}


<section class="container">

    <div class="row justify-content-center">

        <div class="col-4"> <h3><br><b>Teachers </b></h3></div>
           

       


        <h4>Create a course, supervise, Take Exams, and Evaluate Them.<br/><br/><br/></h4>



        <div class="col-8"><h3><b>And for the Students </b></h3></div>
        


        <h4>you guys can easily register a course of your favourite teacher and <br>
            learn from them in the best possible way <br>
        Also, you can evalute yourself by giving exam</h4>


    </div>

</section>

{% endblock body %}
