{% extends "layout.html" %}
{% block body %}

<!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
<div class="loginParent d-flex justify-content-center align-items-center ">

    <form class="loginChid form-group " action method="post">
        <legend class="text-primary mb-3 h1 fw-semibold"> Login </legend>

        {{ form.email.label(class="form-control-label") }} 
        
        {{ form.email(class="form-control mt-2",type="email",placeholder="Your email address...")
        }}

        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <br />
        {{ form.password.label(class="form-control-label") }}
        <br />
        {{ form.password(placeholder="Your password...",type="password",class="form-control
        custom-control-lg mt-2") }}
        <br />

        <div class="form-check mb-2">
            {{form.remember(class="form-check-input  ") }}
            {{form.remember.label(class="form-check-label") }}
        </div>


        {{ form.submit(class="form-group btn btn-primary mb-2") }}
        <div class="d-grid">
            <small class=" text-muted ml-2 mb-2">
                <a href="{{url_for('users.reset_request')}}"> Forgot Password?
                </a>
            </small>
            <small id="register-link" class=" text-muted ml-2 text-right">
                <a href="{{ url_for('users.register') }}" class="text-info">Register
                    here</a>
            </small>
        </div>
    </form>
</div>

{% endblock body %}