{% extends 'layout.html' %}

{% block body %}

<body>
<section class=" shadow-sm btn-group-horizontal container">
    <form method="POST" action="" class="form-group" enctype="multipart/form-data">
        <fieldset>
        {{ form.hidden_tag() }}
        <br/>
        <legend> Enter your Registered Email</legend>
        {{ form.email.label(class="form-group") }}
        <br/>
        {{ form.email(class="form-control",type="email",placeholder="Your email address...") }}
        <br/>
        <!-- {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %} -->
        </fieldset>
        {{ form.submit(class=" form-group btn btn-outline-info") }}
    </form>
</section>

{% endblock body %}