{% extends "layout.html" %}
{% block body %}
    <section>
        <form class="form-horizontal" , method="POST" , action=" ">
            <legend> Enter your Question paper code given by email</legend>
            {{ form.exam_code.label(class = "form-control-label") }}
            {{ form.exam_code(class ="form-control form-control-lg",placeholder="like : mid332432 ") }}
            <br/>
            {{ form.submit(class="btn btn-outline-info") }}

        </form>
    </section>
{% endblock body %}
