{% extends "layout.html" %} 
{% block body %}
<!-- ekane form er kaz korte hobe -->

<div class="container">
    <section class=" shadow-lg row ">
        <div class="col-12 col-md-8 offset-md-2  my-5">
            <form class="mx-auto" method="POST" action=" {{ url_for('Test_paper.wrqu') }} "
                enctype="multipart/form-data">
                <fieldset class="p-3">
                    <legend class="fw-semibold fs-3 "> Upload your Pdf Question paper</legend>
                    <p class="fs-5">Set your Exam Slot </p>
            
                    <div class="form-group">
                               <br/>
                        {{ form.exam_code.label(class = "form-control-label h4 ") }}
                        {{ form.exam_code(class ="form-control form-control-lg",placeholder="like : mid332432 or made up
                        something") }}
    
                        {{ form.exam_title.label(class = "form-control-label h4 mt-2") }}
                        {{ form.exam_title(class="form-control-radio h4") }}
    
                        {# {{ form.exam_title.label(class = "form-control-label") }} #}
                        {#{{ form.exam_title(class ="form-control form-control-lg",placeholder="example: MID-Term") }}#}
    
                        {{ form.exam_course.label(class = "form-control-label h4 mt-2") }}
                        {{ form.exam_course(class ="form-control form-control-lg",placeholder="like : SWE431") }}
    
                        {{ form.exam_topic.label(class = "form-control-label h4 mt-2") }}
                        {{ form.exam_topic(class ="form-control form-control-lg",placeholder="Like: physical layer") }}
    
                        <br />
                        <div class="form-container">
                            {{ form.exam_start_time.label(for="appt",class = "form-control-label h4 mt-2") }}
                            <!-- for= appt is a class -->
                            <input type="time" class="form-control-sm " id="start_time" name="start_time">
    
                            {{ form.exam_end_time.label(for="appt",class = "form-control-label h4 mt-2") }}
                            <input type="time" class="form-control-sm " id="end_time" name="end_time">
    
                            {{ form.exam_date.label(class = "form-control-label h4 mt-2") }}
                            {{ form.exam_date(type="date",class ="form-control-md ",placeholder=" like: year/month/date") }}
                        </div>
                        <br />
                        {{ form.rename_file.label(class = "form-control-label h4 mt-2") }}
                        {{ form.rename_file(class ="form-control form-control-lg",placeholder="Questionpapers Have a Proper
                        name ") }}

                        <br />
                        {{ form.file.label(class = "form-control-label h4 mt-2") }}
                        {{ form.file(class = "form-control") }}
                        
                        <!-- <input type="file" name="pdf">-->
                        <br />
                        <br />
                        {{ form.submit(class="btn btn-outline-success fs-4") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</div>



{% endblock body %}
<!--if click in create file then a text document Or google doc file will open
<button>
  <input type="submit" name="create" id="create" value="Create File" />
</button>  -->