*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Consoles', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', monospace ;
}

.custom-class {
    display: none;
}

div#header,
div#footer {
    padding: 20px;
    color: white;
    background-color: black;
}

div.content {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

div.article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

div#contenTbody {
    padding: 10px;
    color: black;
    background-color: yellow;
}

s {
    page-break-after: auto;
}

@media only screen and (max-width: 900px) {
    .r {
        background-color: red;
    }
}

div#sidebar {
    margin: 0 8px 6px 8px;
    float: right;
    width: 190px;
    height: 220px;
    border: 5px solid #7f7f7f;
    background: #c3c3c3;
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(img/pexels-pixabay-207691.jpg);
    background-size: cover;
    /* background: ; */
}
.navbar2{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.logo{
    flex-basis: 30%;
}
.logo img {
    width: 160px;
    cursor: pointer;
}
.circle-box{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
svg#svgCircle{
    stroke-dasharray: 1256;
    stroke-dashoffset: 418;
    transition: 1s;
}
div.span{
    position:absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}
div#step1{
    right: 655px;
    bottom: 430px;
}
div#step2{
    left: 56px;
    bottom: 106px;
}
div#step3{
    left: 800px;
    top: 368px;
}
