{% extends "layout.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
    .input-wrapper div {
        margin-bottom: 10px;
    }

    .remove-input {
        margin-top: 10px;
        margin-left: 15px;
        /*horiz-align: center;*/
    }

    .add-input {
        margin-top: 10px;
        margin-left: 10px;
        vertical-align: text-bottom;
    }

    .img-lesson {
        box-shadow: #7f7f7f;
        max-height: 30px;
        max-width: 30px;

    }
</style>
<section class="container">



    <form method="POST" action="" class="form-container" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <header>
                <legend class="h3"> <b> Create New Course </b> </legend>
            </header>
            <br />
            <div class="form-group">
                {{ form.course_duration.label(class = "form-control-label h5") }}
                {{ form.course_duration(type="date",class="form-control-lg datepicker") }}

            </div>
            <div class="form-group">
                {{ form.course_title.label(class = "form-control-label h5 ") }}
                {{ form.course_title(class="form-control form-control",placeholder='(Dont give "#,$,@,&" these caracters) like: Summer 2021_SWE122') }}

            </div>
            <div class="form-group">
                <label class="form-control-label h5" for="Textarea">Course Caption :</label>
                <textarea name="Note:captions" class="form-control" id="Textarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                {{ form.course_code.label(class = "form-control-label h5") }}



                {% if form.course_code.errors %}
                {{form.course_code(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.course_code.errors %}
                    <span>{{error}}</span>
                    {% endfor %}

                </div>
                {% else %}
                <div class="input-group mb-3">
                    {{ form.course_code(class ="form-control",placeholder="like : SWE431") }}
                </div>
                {% endif %}
            </div>


            <div class="form-row">
                <div class="col">
                    <label class="form-control-label h5">CLO -1 </label>
                    {{ form.course_co(class ="form-control form-control-md",placeholder="like : clo-#serial-number #description of
                    the clo") }}
                    <br />
                </div>

                <div class="col">
                    <label class="form-control-label h5">CLO -2 </label>
                    {{ form.course_co(class ="form-control form-control-md",placeholder="like : clo-#serial-number #description of
                    the clo") }}
                    <br />
                </div>

                <div class="w-100"></div>
                <div class="col">
                    <label class="form-control-label h5">CLO -3 </label>
                    {{ form.course_co(class ="form-control form-control-md",placeholder="like : clo-#serial-number #description of
                    the clo") }}
                    <br />
                </div>
                <br />
                <div class="col">
                    <label class="form-control-label h5">CLO -4 </label>
                    {{ form.course_co(class ="form-control form-control-md",placeholder="like : clo-#serial-number #description of
                    the clo") }}
                    <br />
                </div>
                <br />
            </div>
            {#{ form.course_lessons.label(class = "custom-control-label") }#}
            {#{ form.course_lessons(oninput='getValueTotalLesson()', class ="form-control form-control-md"
            ,placeholder="Like: 1,2,5 or 6 (How many lessons do you have for this Course)") }#}

            <div class="input-wrapper">
                <label for="total_lessons" class="from-control-label h5"> Total Lessons :</label><br />
                <input class="from-control form-control-lg" name="total_lesson[]" id="total_lessons" type="text" value="" placeholder="Name of the Lesson, please." />
                <a href="javascript:void(0);" class="add-input" title="Add a another lesson">
                    <img type="button" class="img-lesson btn-outline-light"
                        src="{{ url_for('static',filename='img/plus.png') }}" /></a>

            </div>


        </fieldset>
        {{ form.submit(class="form-group btn btn-outline-primary ") }}

    </form>
</section>
<!-- partial -->
<script type="text/javascript" src="{{ url_for('static',filename='add_remove.js') }}">

</script>

{% endblock body %}