{% extends "layout.html" %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
        .input-wrapper div {
            margin-bottom: 10px;
        }

        .remove-input {
            margin-top: 10px;
            margin-left: 15px;
            horiz-align: center;
        }

        .add-input {
            margin-top: 10px;
            margin-left: 10px;
            vertical-align: text-bottom;
        }

        img {
            box-shadow: #7f7f7f;
            max-height: 30px;
            max-width: 30px;
   
        }
    </style>
    <section class=" container shadow-lg btn-light btn-group-horizontal  ">
        <form method="POST" action="" class="form-container" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <legend> Create New Course</legend>
                <p>Set your Info</p>
                <div class="form-group">
                    {{ form.course_duration.label(class = "form-control-label") }}
                    {{ form.course_duration(type="date",class ="form-control-md ",placeholder=" like: year/month/date (Please submit When Course will be finished)") }}
                    <br/>
                </div>
                <div class="form-group">
                    <label for="Textarea">Course Caption textarea</label>
                    <textarea name="Note:captions" class="form-control" id="Textarea" rows="3"></textarea>
                </div>

                {{ form.course_code.label(class = "form-control-label") }}
                {{ form.course_code(class ="form-control form-control-md",placeholder="like : SWE431 ") }}
                <br/>

                {{ form.course_title.label(class = "form-control-label") }}
                {{ form.course_title(class="form-control-lg") }}
                <br/>

                {{ form.course_co.label(class = "form-control-label") }}
                {{ form.course_co(class ="form-control form-control-md",placeholder="like : 4%") }}
                <br/>

                {#{  form.course_lessons.label(class = "form-control-label") }#}
                {#{ form.course_lessons(oninput='getValueTotalLesson()', class ="form-control form-control-md"
                    ,placeholder="Like: 1,2,5 or 6 (How many lessons do you have for this Course)") }#}

                <div class="input-wrapper">
                    <label for="total_lessons" class="custom-control-label"> Total Lessons :</label><br/>
                    <input name="total_lesson[]" id="total_lessons" type="text" value="" title="Name of the Lesson, please."/>
                    <a href="javascript:void(0);" class="add-input" title="Add a another lesson">
                        <img type="button" class="btn-outline-light"
                             src="{{ url_for('static',filename='img/plus.png') }}"/></a>

                </div>


            </fieldset>
            {{ form.submit(class=" form-group btn btn-outline-primary") }}

        </form>
    </section>
    <!-- partial -->
    <script type="text/javascript" src="{{ url_for('static',filename='add_remove.js') }}">

    </script>

{% endblock body %}
