<!-- Here the header part end  -->
{%extends "layout.html"%} 
{%block body%}

<section class="container">
    <p class="custom-control-label"> <legend> What's special in this website </legend></p>
    <article>
        Teacher will evalute a question <br>
        That question will become a leaning element for Machine <br>
        And When student go for the Model_test, Then Machine create a Question paper for student.

    </article> <br/>
    <p class="custom-control-label">
        <legend> Helpful for Students </legend>
    </p>
    <article>
        Student can check current Eucational News <br>
        Check the Exam schedule <br>
        Attend the Exam That teacher Created.
    
    </article><br />
    
</section>

{%endblock body%}