{%extends "layout.html"%}
{%block body%}


{#{link_info}#}

{#{answer_sheets}#}
{#% set course_code,course_date=course_code.split("=") %#}
{#{course_code}#}
{%set temp =''%}
{%set question = answer_sheets.question_dictionary_type_list%}

<section class="">


    {%for (i,k,l) in
    iter.zip_longest(question,answer_sheets.selected_answer_options,answer_sheets.correct_answer)%}





    <div class="card">
        {#% set vid_name = 'files/'+ v %#}

                <div class="card-header">
                    {%set temp = i | string %} {#{temp}#}

                    {%set temp_ques, temp_op = temp.strip("}{").split(":")%} {#{i}#}

                    <h5> {{temp_ques}} </h5>
                </div>
                <div class="card-body">
                    <div class="row container">
                        {% set temp_op = temp_op.strip("][")%}
                        <h5>Option :</h5>
                        {%for item in temp_op.strip("[").split("'") %}
                        <div class="col">{{ item }}</div>
                        {%endfor%}
                    </div>
                </div>







                <div class="card-footer">
                    <div class="card-text"> Choosen by student : {{k}} </div>
                    <div class="card-text text-right">
                        Correct_answer : {{l}}
                    </div>
                </div>



            </div>

    <br>
    {%endfor%}



</section>






{%endblock body%}


<!-- {#% set video_file_surveilence = Only_file.objects(v_id=v).first()%}
        {% set vid = BytesIO(video_file_surveilence.binary_file.read())%}
        {% set str_equivalent_video = base64.b64encode(vid.getvalue()).decode()%#} -->


        <!-- <video width="400" height="180"
                    controls>
                    <source src="data:video/x-msvideo;base64,{#{str_equivalent_video}#}" type="video/mp4">
                <source src="/home/b/Desktop/CLO_system/EXAM/static/files/{{v}}" type="video/x-msvideo"> 
                <source src="{#{url_for('static',filename=vid_name)}#}" type="video/x-msvideo" > 
                </video> -->